{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="wrapper-holder grey">
    <section id="main">
        <h2>Carrer At a Glance</h2>
        <div class="box_timeline_holder">
            <div class="box_timeline">
                <ul>
                    <li>
                        <div class="date">
                            <span>12/20</span>
                        </div>
                        <h3>Intern</h3>
                        <p>Intern at a NGO , handling website development and SEO </p>
                    </li>
                    <li>
                        <div class="date">
                            <span>10/21</span>
                        </div>
                        <h3>Data Science Trainee</h3> 
                        <p>Trained in data cleaning, EDA, and basic model building.</p>
                    </li>
                    <li>
                        <div class="date">
                            <span>04/22</span>
                        </div>
                        <h3>Junior Data Scientist</h3>
                        <p>Assisted in model development, feature engineering, and performance testing. </p>
                    </li>
                    <li>
                        <div class="date">
                            <span>03/23</span>
                        </div>
                        <h3>Data Scientist</h3>
                        <p>Led independent projects, developed and deployed models.</p>
                    </li>
                    <li>
                        <div class="date">
                            <span>04/24</span>
                        </div>
                        <h3>Senior Data Scientist</h3>
                        <p>Managed junior data scientists, handled advanced modeling and deployment.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}E