{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="wrapper-holder grey">
    <section id="main">
        <h2>Here is my carrer progress</h2>
        <div class="box_timeline_holder">
            <div class="box_timeline">
                <ul>
                    <li>
                        <div class="date">
                            <span>12/09</span>
                        </div>
                        <h3>Intern</h3>
                        <p>Dolor sit consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </li>
                    <li>
                        <div class="date">
                            <span>02/10</span>
                        </div>
                        <h3>Data Science Trainee</h3>
                        <p>Laudantium totam rem aperiam eaque ipsa quae</p>
                    </li>
                    <li>
                        <div class="date">
                            <span>09/11</span>
                        </div>
                        <h3>Junior Data Scientist</h3>
                        <p>Eaque ipsa quae illo inventore veritatis et quasi architecto </p>
                    </li>
                    <li>
                        <div class="date">
                            <span>06/12</span>
                        </div>
                        <h3>Data Scientist</h3>
                        <p>Dolorem ipsum quia consectetur adipisci velit sed quia non</p>
                    </li>
                    <li>
                        <div class="date">
                            <span>11/13</span>
                        </div>
                        <h3>Senior Data Scientist</h3>
                        <p>Nodi tempora incidunt ut labore dolore magnam</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}