<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Deepak Kumar</title>
	<link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'css/all.css' %}" />
	<link rel="stylesheet" href="{% static 'css/screen.css' %}" />
    	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<header id="header">
				<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<li><a class="{{ indexClass }}" href="{% url 'index' %}">Home</a></li>
							<li><a class="{{ aboutClass }}" href="{% url 'myskills' %}">My skills</a></li>
							<li><a class="{{ portfolioClass }}" href="{% url 'portfolio' %}">Portfolio</a></li>
							<li><a class="{{ contactClass }}" href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
                {% if isHome == True %}
                    <h1 class="logo">Deepak Kumar</h1>
                    <h2 class="slogan">Data Scientist</h2>
                {% endif %}
			</header>
		</div>
		{% block body %}
        {% endblock %}
		<footer id="footer">
			<div class="footer-content">
				<ul class="social">
					<li class="email"><a href="mailto:dkumardk002@gmail.com"></a></li>
					<li class="facebook"><a href="https://www.linkedin.com/in/deepak-kumar-68564b1a8/"></a></li>
					<li class="google"><a href="https://github.com/kdeepak112/">+</a></li>	
				</ul>
			</div>
		</footer>	
	</div>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/cells-by-row.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>