
{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="wrapper-holder grey">
	<section id="main">
		<h2>project repository</h2>
		<ul id="filters" class="sub_nav">
			<li class="active" data-filter="*">All works</li>
			<li data-filter=".sql">SQL & EDA</li>
			<li data-filter=".mlearning">Machine Learning</li>
			<li data-filter=".dlearning">Deep Learning</li>
			<li data-filter=".tseries">Time Series</li>
			<li data-filter=".genai">Gen AI</li>
		</ul>	
		{% if projects %}
			<ul id="container" class="item-list">
				{% for prj in projects %}
					<li class="item {{ prj.projectDomain }}">
						<div class="image">
							<img src="{% static prj.projectImage  %}" alt="" />
							<div class="hover">
								<a class="fancybox" rel="gallery1" href="#{{ prj.projectId }}_modal">
									<div class="item-content">
										<h4>{{ prj.projectTitle }}</h4>
										<p>{{ prj.projectDescription }}</p>
									</div>
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>Hang On Projects About to Load..!!</h3>
		{% endif %}
	</section>
</div>
<div style="display:none;">
	<div id="1002_modal" class="popup_portfolio">
		<!-- <img src="{% static 'images/img_pf02.jpg' %}" alt="" /> -->
		<h3>Industry Data Analysis</h3>
		<time datetime="2014-06-20">Made: 06/20/14</time>
		<p>
			This project analyzes the dataset of companies registered in India (1857-2020) to uncover trends in business activity, growth, and regional variations. Using Python, I connected to a local SQL database to efficiently execute and manage complex queries, showcasing my expertise in SQL. The integration of Python with SQL highlights my ability to handle data-driven insights and streamline database operations.
		</p>		
		<iframe src="/media/IndustryDataAnalysis.pdf"></iframe>		
</div>

<div style="display:none;">
	<div id="1003_modal" class="popup_portfolio">
		<!-- <img src="{% static 'images/img_pf02.jpg' %}" alt="" /> -->
		<h3>Election Data Analysis</h3>
		<time datetime="2014-06-20">Made: 06/25/24</time>
		<p>
			This project analyzes electoral trends and political dynamics in India using candidate-level data from 1977 to 2015 for Lok Sabha and Vidhan Sabha elections. Key insights include voter behavior, candidate demographics, and party performance across diverse constituencies. The project leverages this rich dataset to uncover patterns in representation and election outcomes over nearly four decades.
		</p>		
		<iframe src="/media/ElectionEDA.pdf"></iframe>		
</div>

</div>
{% endblock %}